In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv("../data/earthquakes.csv")

In [7]:
df.shape
df.head

<bound method NDFrame.head of               id  magnitude        type  \
0     us7000necw        4.8  earthquake
1     tx2024shcj        5.1  earthquake
2     ci40734823        3.7  earthquake
3     tx2024scvz        3.9  earthquake
4     us7000ndte        4.1  earthquake
...          ...        ...         ...
1132  us6000ldpm        6.3  earthquake
1133  us6000ldph        5.4  earthquake
1134  us6000ldpg        6.3  earthquake
1135  us6000lcgj        5.7  earthquake
1136  us6000ky4d        5.8  earthquake

                                             title                 date  \
0              M 4.8 - 33 km WSW of Ackerly, Texas  2024-09-17T00:49:42
1              M 5.1 - 34 km WSW of Ackerly, Texas  2024-09-17T00:49:42
2                     M 3.7 - 6 km N of Malibu, CA  2024-09-16T11:22:08
3       M 3.9 - 58 km S of Whites City, New Mexico  2024-09-14T17:01:06
4       M 4.1 - 60 km S of Whites City, New Mexico  2024-09-14T17:01:06
...                                            ...                  ...
1132  M 6.3 - 25 km NNE of Zindah Jān, Afghanistan  2023-10-07T07:12:49
1133   M 5.4 - 26 km NE of Zindah Jān, Afghanistan  2023-10-07T06:49:41
1134  M 6.3 - 32 km NNE of Zindah Jān, Afghanistan  2023-10-07T06:41:03
1135            M 5.7 - 39 km NE of Dipayal, Nepal  2023-10-03T09:21:03
1136        M 5.8 - 47 km SSW of Jurm, Afghanistan  2023-08-05T16:01:49

               time        updated  \
0     1726534182289  1726583895255
1     1726534182183  1726672002991
2     1726485728190  1726637414586
3     1726333266539  1726584426218
4     1726333266382  1726334616179
...             ...            ...
1132  1696662769702  1702589215040
1133  1696661381156  1702589215040
1134  1696660863327  1702589215040
1135  1696324863018  1702589211040
1136  1691251309816  1696714739040

                                                    url  \
0     https://earthquake.usgs.gov/earthquakes/eventp...
1     https://earthquake.usgs.gov/earthquakes/eventp...
2     https://earthquake.usgs.gov/earthquakes/eventp...
3     https://earthquake.usgs.gov/earthquakes/eventp...
4     https://earthquake.usgs.gov/earthquakes/eventp...
...                                                 ...
1132  https://earthquake.usgs.gov/earthquakes/eventp...
1133  https://earthquake.usgs.gov/earthquakes/eventp...
1134  https://earthquake.usgs.gov/earthquakes/eventp...
1135  https://earthquake.usgs.gov/earthquakes/eventp...
1136  https://earthquake.usgs.gov/earthquakes/eventp...

                                              detailUrl  felt  ...  \
0     https://earthquake.usgs.gov/earthquakes/feed/v...  1893  ...
1     https://earthquake.usgs.gov/fdsnws/event/1/que...  2042  ...
2     https://earthquake.usgs.gov/fdsnws/event/1/que...  1580  ...
3     https://earthquake.usgs.gov/fdsnws/event/1/que...     5  ...
4     https://earthquake.usgs.gov/earthquakes/feed/v...     4  ...
...                                                 ...   ...  ...
1132  https://earthquake.usgs.gov/fdsnws/event/1/que...    11  ...
1133  https://earthquake.usgs.gov/fdsnws/event/1/que...     0  ...
1134  https://earthquake.usgs.gov/fdsnws/event/1/que...    19  ...
1135  https://earthquake.usgs.gov/fdsnws/event/1/que...   131  ...
1136  https://earthquake.usgs.gov/fdsnws/event/1/que...    25  ...

                     location      continent                         country  \
0              Ackerly, Texas  North America  United States of America (the)
1              Ackerly, Texas  North America  United States of America (the)
2                  Malibu, CA  North America  United States of America (the)
3     Whites City, New Mexico  North America  United States of America (the)
4     Whites City, New Mexico  North America  United States of America (the)
...                       ...            ...                             ...
1132  Zindah Jān, Afghanistan           Asia                     Afghanistan
1133  Zindah Jān, Afghanistan           Asia                     Afghanistan
1134  Zindah Jān, Afghanistan           Asia                     Afghanistan
1135           Dipayal, Nepal           Asia                           Nepal
1136        Jurm, Afghanistan           Asia                     Afghanistan

        subnational            city             locality postcode  \
0             Texas  Tarzan-Lenorah       Tarzan-Lenorah  79783.0
1             Texas  Tarzan-Lenorah       Tarzan-Lenorah  79331.0
2        California     Los Angeles  Agoura Hills-Malibu  90265.0
3             Texas        Van Horn             Van Horn      NaN
4             Texas        Van Horn             Van Horn      NaN
...             ...             ...                  ...      ...
1132          Herat      Zindah Jan  Zendeh Jan District      NaN
1133          Herat      Zindah Jan  Zendeh Jan District      NaN
1134          Herat      Zindah Jan  Zendeh Jan District      NaN
1135  Sudurpashchim    Jayaprithivi       JayaPrithvi-03      NaN
1136     Badakhshan          Yamgan               Yamgan      NaN

                                what3words timezone  \
0                 landmass.perkily.affords     -300
1                 escalator.grownups.dwell     -300
2                 clocking.uploaded.issuer     -420
3                  sailboats.sawn.speeding     -300
4               spinners.downtime.computes     -300
...                                    ...      ...
1132              staked.radish.enduringly      270
1133         bloomers.wondrous.possibility      270
1134          outshone.freedmen.inequality      270
1135  investments.ticketholder.hopefulness      345
1136           arriving.hairstyle.disguise      270

                                        locationDetails
0     [{'id': '80684', 'wikidataId': '', 'name': '79...
1     [{'id': '89341', 'wikidataId': '', 'name': '48...
2     [{'id': '93478', 'wikidataId': 'Q844837', 'nam...
3     [{'id': '9', 'wikidataId': 'Q49', 'name': 'Nor...
4     [{'id': '9', 'wikidataId': 'Q49', 'name': 'Nor...
...                                                 ...
1132  [{'id': '108', 'wikidataId': 'Q48', 'name': 'A...
1133  [{'id': '108', 'wikidataId': 'Q48', 'name': 'A...
1134  [{'id': '108', 'wikidataId': 'Q48', 'name': 'A...
1135  [{'id': '87376', 'wikidataId': '', 'name': 'As...
1136  [{'id': '108', 'wikidataId': 'Q48', 'name': 'A...

[1137 rows x 43 columns]>

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1137 entries, 0 to 1136
Data columns (total 43 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1137 non-null   object
 1   magnitude        1137 non-null   float64
 2   type             1137 non-null   object
 3   title            1137 non-null   object
 4   date             1137 non-null   object
 5   time             1137 non-null   int64
 6   updated          1137 non-null   int64
 7   url              1137 non-null   object
 8   detailUrl        1137 non-null   object
 9   felt             1137 non-null   int64
 10  cdi              1137 non-null   int64
 11  mmi              1137 non-null   int64
 12  alert            764 non-null    object
 13  status           1137 non-null   object
 14  tsunami          1137 non-null   int64
 15  sig              1137 non-null   int64
 16  net              1137 non-null   object
 17  code             1137 non-null   object
 18  ids              1137 non-null   object
 19  sources          1137 non-null   object
 20  types            1137 non-null   object
 21  nst              1137 non-null   int64
 22  dmin             1137 non-null   float64
 23  rms              1137 non-null   float64
 24  gap              1137 non-null   float64
 25  magType          1137 non-null   object
 26  geometryType     1137 non-null   object
 27  depth            1137 non-null   float64
 28  latitude         1137 non-null   float64
 29  longitude        1137 non-null   float64
 30  place            1137 non-null   object
 31  distanceKM       1137 non-null   int64
 32  placeOnly        1137 non-null   object
 33  location         1137 non-null   object
 34  continent        867 non-null    object
 35  country          799 non-null    object
 36  subnational      716 non-null    object
 37  city             674 non-null    object
 38  locality         1137 non-null   object
 39  postcode         197 non-null    float64
 40  what3words       1137 non-null   object
 41  timezone         1137 non-null   int64
 42  locationDetails  1137 non-null   object
dtypes: float64(8), int64(10), object(25)
memory usage: 382.1+ KB

In [10]:
df.describe()

,magnitude,time,updated,felt,cdi,mmi,tsunami,sig,nst,dmin,rms,gap,depth,latitude,longitude,distanceKM,postcode,timezone
count,1137.000000,1.137000e+03,1.137000e+03,1137.000000,1137.000000,1137.000000,1137.000000,1137.000000,1137.000000,1137.000000,1137.000000,1137.000000,1137.000000,1137.000000,1137.000000,1137.000000,197.000000,1137.000000
mean,4.856675,1.712109e+12,1.716593e+12,414.408091,2.925242,4.320141,0.059807,432.698329,115.094107,1.342604,0.585974,55.055286,41.287300,27.308909,-3.930635,52.289358,83086.131980,21.741425
std,1.047840,1.143033e+10,9.671955e+09,5746.971362,2.562707,1.453949,0.237232,256.177844,91.877870,1.704364,0.308556,37.609237,87.866489,20.133139,118.043697,56.027469,12812.555204,440.864430
min,3.000000,1.687542e+12,1.693083e+12,0.000000,0.000000,1.000000,0.000000,138.000000,0.000000,0.000000,0.000000,0.000000,-0.250000,-43.706400,-179.807000,0.000000,8833.000000,-720.000000
25%,3.800000,1.701663e+12,1.707609e+12,0.000000,0.000000,4.000000,0.000000,234.000000,37.000000,0.100000,0.300000,30.000000,7.550000,24.195400,-104.452000,15.000000,79331.000000,-360.000000
50%,5.300000,1.713810e+12,1.719958e+12,2.000000,3.000000,4.000000,0.000000,449.000000,102.000000,0.680000,0.630000,49.000000,10.000000,31.667700,-68.682000,37.000000,79772.000000,-180.000000
75%,5.600000,1.722885e+12,1.725384e+12,24.000000,5.000000,5.000000,0.000000,518.000000,157.000000,2.061000,0.780000,68.000000,34.723000,37.497600,126.628000,61.000000,92530.000000,480.000000
max,7.600000,1.726661e+12,1.726672e+12,183786.000000,9.000000,9.000000,1.000000,2419.000000,619.000000,12.457000,2.520000,256.000000,639.503000,68.176100,179.972000,298.000000,99827.000000,780.000000